#btn-new-meeting {
  color: #1677ff !important;
  background-color: #e6f4ff !important;
  border: 1px solid #1677ff;
  width: 80%;
  height: 40px;
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.25;
  color: rgb(50, 50, 77);
}
.card-meeting {
  width: 30% !important;
  margin: 2% 2% 2% 0 !important;
}
